node_modules/
common/multiplier_js
common/multiplier2_0000.zkey
common/multiplier2_0001.zkey
common/multiplier2.r1cs
common/multiplier2.sym
common/pot12_0000.ptau
common/pot12_0001.ptau
common/pot12_final.ptau
common/verification_key.json
common/multiplier2_cpp/calcwit.cpp
common/multiplier2_cpp/calcwit.hpp
common/multiplier2_cpp/circom.hpp
common/multiplier2_cpp/fr.asm
common/multiplier2_cpp/fr.cpp
common/multiplier2_cpp/fr.hpp
common/multiplier2_cpp/main.cpp
common/multiplier2_cpp/Makefile
common/multiplier2_cpp/multiplier2.cpp
common/multiplier2_cpp/multiplier2.dat
common/multiplier2_js/generate_witness.js
common/multiplier2_js/input.json
common/multiplier2_js/multiplier2.wasm
common/multiplier2_js/witness_calculator.js
common/multiplier2_js/witness.wtns
mock-fullnode/avail-fetcher/proof.json
mock-fullnode/avail-fetcher/public.json
mock-sequencer/input.json
mock-sequencer/proof.json
mock-sequencer/public.json
mock-sequencer/witness.wtns
mock-sequencer/avail-submitter/package-lock.json
